@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedElement>

    @{
        var items = Model.Value<IEnumerable<IPublishedElement>>("items").ToList();
    }
    @if (items != null)
    {
    <div id="carousel-section" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-wrap="true">
        @if (items.Count() > 1)
        {    
        <div class="carousel-indicators">
            @for (var i = 0; i < items.Count(); i++)
            {
                <button type="button" data-bs-target="#carousel-section" data-bs-slide-to="@i" class="@((i==0)?" active":"")" aria-current="@((i==0)?" true":"false")" aria-label="Slide @i"></button>
            }
        </div>
        }
        <div class="carousel-inner">
            @for (var i = 0; i < items.Count(); i++)
            {
                var item = (IPublishedElement)items.ElementAt(i);
                <div class="carousel-item @((i==0)?" active":"")">
                    @Html.Partial("~/views/partials/newcomponents/ComponentImageHeroMarquee.cshtml", item)
                </div>
            }
        </div>
        @if (items.Count() > 1)
        {
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-section" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-section" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        }
        
    </div>
    }