@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedElement>

@{
    var heroimage = Model.Value<IPublishedContent>("backgroundImage");
    var button = Model.Value<List<Link>>("linkButton");
}

<section class="heroImage-wrapper position-relative d-flex justify-content-center mb-5">
    <img loading="lazy" class="w-100 h-100" src="@heroimage.Url()" alt="@(!string.IsNullOrEmpty(heroimage.Value<string>("altText"))?heroimage.Value<string>("altText"): string.Empty)">
    <div class="align-items-center container-lg d-flex h-100 m-auto position-absolute px-3 py-5 top-0 w-100">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-11 px-3">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <h1 class="head-h1 text-white fw-200 mb-lg-5 mb-3">
                            @Html.Raw(Model.Value("headline"))
                        </h1>
                    </div>
                    <div class="col-lg-6">
                        <div class="paragraph-text text-white fw-500 mb-3 m-md-auto m-0 pt-4">
                            @Html.Raw(Model.Value("copy"))
                            @if (button != null)
                            {
                                try
                                {
                                    var btn = (List<Link>)button;
                                    <a href="@btn.FirstOrDefault().Url" class="btn btnOrange d-flex justify-content-center align-items-center">@btn.FirstOrDefault().Name</a>
                                }
                                catch
                                { }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




