@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
    Layout = "Master.cshtml";
}
@section Marquee {
    @Html.Partial("~/Views/Partials/Components/Wrappers/Simple.cshtml", new SimpleWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("marquee"), ComponentView = "~/Views/Partials/Components/skewedMarquee.cshtml", ComponentSettings = new { IsH1 = true, MarqueeType = "primary" } })
}
<section class="container">
    <div class="row larger overview align-left">
        <div class="copy-block copy-block--section-head col-xs-12">
            @{
                var overviewImageId = Model.Value<string>("overviewImage");
                var overviewImage = !string.IsNullOrEmpty(overviewImageId) ? Umbraco.Media(overviewImageId) : null;
            }
            @if (overviewImage != null)
            {
                <img src="@overviewImage.Url()" alt="@overviewImage.Value("altText")">
            }
            @Html.Raw(Model.Value("overviewCopy"))
        </div>
    </div>
</section>

<section class="">
    @Html.Partial("~/Views/Partials/Components/Wrappers/Simple.cshtml", new SimpleWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("demoBlade"), ComponentView = "~/Views/Partials/Components/DemoBlade.cshtml", ComponentSettings = new { } })
</section>

<section class="container">
    <div class="row">
        <div class="copy-block copy-block--section-head col-xs-12 overview larger">
            @Html.Partial("~/Views/Partials/Components/Wrappers/Simple.cshtml", new SimpleWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("featuresHead"), ComponentView = "~/Views/Partials/Components/SectionOverviewCopyBlock.cshtml", ComponentSettings = new { } })
        </div>
    </div>

    @Html.Partial("~/Views/Partials/Components/Wrappers/Grid.cshtml", new GridWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("features"), ComponentView = "~/Views/Partials/Components/StoryTellingImageCopy.cshtml", ComponentSettings = new { ImageCols = 5 } })

</section>

<div class="container">
    <hr class="row" />
</div>




@if (Model.HasProperty("storyBlade") && Model.Value<ArchetypeModel>("storyBlade").Count() > 0)
{
<section class="container pullout-blade">
    <div class="row">

        @Html.Partial("~/Views/Partials/Components/Wrappers/Simple.cshtml", new SimpleWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("storyBlade"), ComponentView = "~/Views/Partials/Components/Textblock--RTE.cshtml", ComponentSettings = new { } })
        
    </div>
</section>

<div class="container">
    <hr class="row" />
</div>
}

@{
    var resourceIds = Model.Value<string>("resources").Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
    var resources = Umbraco.Content(resourceIds).Where(x => x != null);
}
@if(resources.Any())
{
    <section class="container">
        <div>
            <h2 class="text-center resource-tile-head">@Model.Value<string>("resourceHeadline")</h2>
            @Html.Partial("~/Views/Partials/Components/Wrappers/grid.cshtml", new GridWrapperModel { ComponentModel = resources, ComponentView = "~/Views/Partials/NewComponents/ComponentResourceTile.cshtml", SColumns = 3, ComponentSettings = new { } })
        </div>
    </section>
    <div class="container">
        <hr class="row" />
    </div>
}

<section class="container segment-blade icon-blocks">
    <div class="row">
        @Html.Partial("~/Views/Partials/Components/Wrappers/Simple.cshtml", new SimpleWrapperModel { ComponentModel = Model.Value<ArchetypeModel>("segmentsHead"), ComponentView = "~/Views/Partials/Components/SectionOverviewCopyBlock.cshtml", ComponentSettings = new { } })
    </div>
    <div class="row no-margin">
        @{
            var businessNeedTileIds = Model.Value<string>("segments")?.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(int.Parse);
            var businessNeedTiles = Umbraco.Content(businessNeedTileIds).Where(x => x != null);
        }
        @Html.Partial("~/Views/Partials/Components/Wrappers/grid.cshtml", new GridWrapperModel { ComponentModel = businessNeedTiles, ComponentView = "~/Views/Partials/Components/FeatureBusinessSection.cshtml", SColumns = 3, ComponentSettings = new { HideDescription = true } })

    </div>
</section>

<section class="contact-container">
    <div class="container">
        <div class="row no-margin">
            @Html.Partial("~/Views/Partials/Components/contactform.cshtml")
        </div>
    </div>
</section>